{% extends 'base1.html' %}
{% block jq %}
    <script>
        $(function () {
            $('.col04').each(function () {
                count = parseInt($(this).prev().text())
                price = parseFloat($(this).prev().prev().find('span').text())
                $(this).text((count * price).toFixed(2) + '元')
            });
        });
    </script>
{% endblock jq %}
{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="/center/">· 个人信息</a></li>
                <li><a href="/order/" class="active">· 全部订单</a></li>
                <li><a href="/site/">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for foo in page %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ foo.order_date }}</li>
                    <li class="col02">{{ foo.order_id }}</li>
                    <li class="col02 stress">{% if foo.state == 1 %}已支付{else}未支付{% endif %}</li>
                </ul>

                <table class="order_list_table w980">
                    <tbody>
                    <tr>
                        <td width="55%">
                            {% for order in foo.orderdetail_set.all %}
                                <ul class="order_goods_list clearfix">
                                    <li class="col01"><img src="/static/{{ order.goods.gpic }}"></li>
                                    <li class="col02">{{ order.goods.gtitle }}<em><span>{{ order.price }}</span>/{{ order.goods.gunit }}
                                    </em>
                                    </li>
                                    <li class="col03">{{ order.count }}</li>
                                    <li class="col04">元</li>
                                </ul>
                            {% endfor %}

                        </td>
                        <td width="15%">共{{ foo.total }}元</td>
                        {% if foo.state == 1 %}
                            <td width="15%">已付款</td>
                            <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                        {% else %}
                            <td width="15%">待付款</td>
                            <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="?pg=1"> 首页 </a>
                    <a href="?pg={{ page.number|add:-1 }}"> 上一页 </a>
                {% endif %}
                {% for p in pagelist %}
                    {% if page.number == p %}
                        <a href="#" class="active">{{ p }}</a>
                    {% else %}
                        <a href="?pg={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="?pg={{ page.number|add:+1 }}"> 下一页 </a>
                    <a href="?pg={{ page.paginator.num_pages }}"> 末页 </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}


